In [1]:
import pandas as pd

In [2]:
# Load your CSV file
df = pd.read_csv("envelope_200cm_1.csv")
df.head()

   experiment contact_duration  cap_ID  infected  distance  time
0           1               1h     100         0  1.427346     2
1           1               1h     100         0  0.978005     2
2           1               1h     100         0  0.974849     1
3           1               1h     100         0  1.791249     1
4           1               1h     100         0  1.298035     1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9725 entries, 0 to 9724
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   experiment        9725 non-null   int64
 1   contact_duration  9725 non-null   object
 2   cap_ID            9725 non-null   int64
 3   infected          9725 non-null   int64
 4   distance          9725 non-null   float64
 5   time              9725 non-null   int64
dtypes: float64(1), int64(4), object(1)
memory usage: 456.0+ KB

In [4]:
# Apply the condition and update the 'infected' column
condition = (df['experiment'] == 5) & \
            (df['contact_duration'] == "48h") & \
            (df['cap_ID'] == 376)

df.loc[condition, 'infected'] = 1

In [5]:
# Save the updated DataFrame back to CSV
df.to_csv("envelope_200cm_1.csv", index=False)